.btn-filtrar{
  background-color: #df8508;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  transition: 0.2s;
}

.btn-filtrar:hover {
  background-color: #ac6707;
  color: white;
}

.thead-verde th {
  background-color: #1c942f !important;
  color: white !important;
  border-bottom: 5px solid #df8508 !important;
  padding: 15px !important;
  font-weight: 600;
  font-size: 0.95rem;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #a8ffa8 !important; 
}

.table-container {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}